// Variables for colors used in the project
$darkBlue: hsl(233,26%,24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233,8%, 62%);
$lightGrayishBlue: hsl(220,16%, 96%);
$veryLightGray: hsl(0, 0%, 100%);
$white: hsl(0, 0%, 100%);

// Variables for font sizes used in the project

$font-sm: 0.875rem;
$font-reg: 1.125rem;
